:root {
  --Mxm-cyan: rgb(116, 201, 188);
  --Mxm-navy: #1f2c4c;
  --sidebar-width: 18rem;
  --navbar-height: 3.75rem;
  --main-nav-fontSize: 1rem;
  --main-nav-svg-Size: 1.3rem;
  --dropdown-items-svg: 1.1rem;
}

.navbar {
  position: sticky;
  top: 0px;
  // width: calc(100vw - var(--sidebar-width));
  height: var(--navbar-height);
  background: var(--Mxm-cyan);
  z-index: 999;

  &.open {
    margin-left: var(--sidebar-width);
    transition: 0.235s ease-in-out;
  }
  &.close {
    margin-left: 0;
    width: 100%;
    transition: 0.15s ease-in-out;
  }

  & .navbar-flex-container {
    position: sticky;
    height: inherit;
    padding: 1rem;

    & .navbar-menu-icon {
      color: #ffffff;

      &:hover {
        cursor: pointer;
      }
    }

    & .navbar-menu {
      margin-left: auto;
      width: max-content;
      justify-content: flex-end;

      & .navbar-avatar {
        padding: 0 1rem;

        & h4 {
          font-family: Poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 1rem;
          line-height: 1.5em;
          color: #ffffff;

          padding: 0.0625em 0.3125em;
        }
      }

      & .navbar-logout-btn {
        padding: 0 1rem;

        width: max-content;
        // height: 1.875em;
        background-color: #ffffff;

        border-radius: 999px;

        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5em;

        color: #fe6161;

        display: flex;
        align-items: center;

        & p {
          padding-right: 0.6rem;
        }

        &:hover {
          background-color: #fafafa;
        }
      }
    }
  }
}

.sidebar-container {
  position: fixed;
  top: 0px;
  height: 100%;
  width: var(--sidebar-width);
  background: var(--Mxm-navy);
  transition: all 0.2s ease-in-out;
  z-index: 999;

  // overflow-y: scroll;
  // overflow-x: hidden;

  font-family: Poppins, Arial, sans-serif;

  color: #ffffff;
}

.sidebar-container.open {
  left: 0px;
}
.sidebar-container.close {
  left: calc(-1 * var(--sidebar-width));
}

.sidebar-header {
  width: inherit;
  height: var(--navbar-height);
  background-color: #37a898;

  & h2 {
    font-family: Poppins, Rubik, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.1875em;
  }

  & svg {
    display: none;
  }
}

.sidebar-avatar {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-areas:
    "avatarImg avatarName"
    "avatarImg avatarRole";
  column-gap: 0.5rem;
  padding: 0.7rem 1.2rem;
  align-items: center;

  & .sidebar-avatar_image {
    grid-area: avatarImg;

    & svg {
      font-size: 40px;
    }
  }

  & h4 {
    grid-area: avatarName;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.3125em;
  }

  & h6 {
    grid-area: avatarRole;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 16px;
  }
}

.sidebar-menu {
  & .sidebar-nav_header {
    padding: 0.8rem 1.4rem;
    background-color: #141c31;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  & .main-navigation {
    & a {
      font-weight: 400;
      background: var(--Mxm-navy);
      font-size: var(--main-nav-fontSize);
      list-style-type: none;

      padding: 1rem 1.1rem;

      display: flex;
      align-items: center;

      & svg {
        margin-right: 10px;
        font-size: var(--main-nav-svg-Size);
      }

      &:hover {
        background: #1c2846;
        cursor: pointer;
      }

      &.sidebar-nav_active {
        box-shadow: inset 4px 0 0 0 rgb(115, 188, 255);
        background: #1c2846;
      }
    }
  }
}

.sidebar-menu .dropdown {
  background: var(--Mxm-navy);
  font-size: var(--main-nav-fontSize);
  list-style-type: none;

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  & .dropdown-header {
    padding: 1rem 1.1rem;
    width: 100%;

    &.sidebar-nav_active {
      box-shadow: inset 4px 0 0 0 rgb(115, 188, 255);
      background: #1c2846;

      & svg:last-child {
        transform: rotate(-90deg);
      }
    }
  }

  & svg {
    margin-right: 10px;
    font-size: var(--main-nav-svg-Size);
  }

  & svg:last-child {
    margin-left: auto;
    margin-right: 0;
    transition: transform 0.15s linear;
  }

  &:hover {
    background: #1c2846;
    cursor: pointer;
  }

  & .dropdown-items {
    justify-content: center;
    max-height: 0px;
    overflow-x: hidden;

    list-style: none;
    display: flex;
    flex-direction: column;

    transition: max-height 0.2s ease;

    & a {
      font-size: 0.9rem;
      color: #adadad;
      padding: 0.9rem 1.3rem;
      min-width: var(--sidebar-width);

      & svg {
        margin-right: 2rem;
        margin-left: unset;
        font-size: var(--dropdown-items-svg);
      }
    }

    & .dropdown-item_active {
      color: #ffffff;
    }

    &.dropdown-items_open {
      max-height: max-content;
    }
  }
}

@media screen and (min-width: 3000px) {
  * {
    --sidebar-width: 40rem;
    --navbar-height: 7rem;
    --main-nav-fontSize: 2rem;
    --main-nav-svg-Size: 45px;
    --dropdown-items-svg: 25px;
  }

  .navbar {
    & .navbar-flex-container {
      & .navbar-menu-icon {
        font-size: 50px;
      }

      & .navbar-menu {
        & .navbar-avatar {
          & svg {
            font-size: 50px;
          }

          & h4 {
            font-size: 2rem;
          }
        }

        & .navbar-logout-btn {
          & p {
            font-size: 2rem;
            padding: 0.9rem 1rem;
          }

          & svg {
            font-size: 2rem;
          }
        }
      }
    }
  }
  .sidebar-header h2 {
    font-size: 2.5rem;
  }

  .sidebar-avatar {
    padding: 2rem 3rem;
    column-gap: 1.5rem;
    align-items: unset;

    & .sidebar-avatar_image svg {
      font-size: 5rem;
    }

    & h4 {
      font-size: 2rem;
    }
    & h6 {
      font-size: 1.5rem;
    }
  }

  .sidebar-menu {
    & .sidebar-nav_header {
      font-size: 1.8rem;
      padding: 2rem 3.5rem;
    }

    & .main-navigation {
      & a {
        padding: 2.4rem 3rem;

        & svg {
          margin-right: 30px;
        }
      }
    }
  }

  .sidebar-menu .dropdown {
    & .dropdown-header {
      padding: 2.4rem 3rem;
      & svg:first-child {
        margin-right: 30px;
      }
    }

    & .dropdown-items {
      & a {
        padding: 1.7rem 3.6rem;
        font-size: 2rem;
      }
    }
  }
}

@media screen and (max-width: 43.4375em) {
  //695px
  .navbar-avatar {
    & h4 {
      display: none;
    }
    & .navbar-avatar-image {
      display: none;
    }
  }

  @media screen and (max-width: 34.375em) {
    //550px
    .navbar-logout-btn p {
      display: none;
    }
  }
}

@media screen and (max-width: 28.125em) {
  //450px
  .sidebar-header {
    padding: 0 5vw; //change

    & svg {
      display: block;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .sidebar-container {
    width: 100vw;
    overflow-y: scroll;

    & .sidebar-avatar {
      padding: 2vh 5vw; //change
    }

    &.close {
      left: -700px;
    }
  }

  .sidebar-menu .sidebar-nav_header {
    padding: 1.5vh 6vw; //change
  }

  .sidebar-menu .main-navigation {
    & a {
      padding: 2vh 5vw; //change
    }
  }

  .sidebar-menu .dropdown {
    & .dropdown-header {
      padding: 2vh 5vw; //change
    }

    & .dropdown-items {
      & a {
        padding: 1.4vh 6vw; //change
        width: 100vw;

        & svg {
          margin-right: 6vw; //change
        }
      }
    }
  }
}
