:root {
  --Mxm-cyan: rgb(116, 201, 188);
  --Mxm-navy: #1f2c4c;
  --sidebar-width: 18rem;
}

//SCSS VARIABLES
//sidebar container width:
// $sidebar-width: 30em;

@media screen and (min-width: 2000px) {
  * {
    --sidebar-width: 30rem;
  }
}

.navbar {
  position: sticky;
  top: 0px;
  width: calc(100vw - var(--sidebar-width));
  height: 8vh;
  background: var(--Mxm-cyan);
  z-index: 999;

  &.open {
    margin-left: var(--sidebar-width);
    transition: 0.235s ease-in-out;
  }
  &.close {
    margin-left: 0;
    width: 100vw;
    transition: 0.15s ease-in-out;
  }

  & .navbar-flex-container {
    position: sticky;
    height: inherit;
    padding: 1rem;

    & .navbar-menu-icon {
      color: #ffffff;

      &:hover {
        cursor: pointer;
      }
    }

    & .navbar-menu {
      margin-left: auto;
      width: max-content;
      justify-content: flex-end;

      & .navbar-avatar {
        padding: 0 1rem;

        & h4 {
          font-family: Poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 1rem;
          line-height: 1.5em;
          color: #ffffff;

          padding: 1px 5px;
        }
      }

      & .navbar-logout-btn {
        padding: 0 1rem;

        width: max-content;
        height: 1.875em;
        background-color: #ffffff;

        border-radius: 999px;

        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5em;

        color: #fe6161;

        display: flex;
        align-items: center;

        & p {
          padding-right: 0.5vw;
        }

        &:hover {
          background-color: #fafafa;
        }
      }
    }
  }
}

.sidebar-container {
  position: fixed;
  top: 0px;
  height: 100vh;
  width: var(--sidebar-width);
  background: var(--Mxm-navy);
  transition: all 0.2s ease-in-out;
  z-index: 999;

  overflow-y: hidden;

  font-family: Poppins, Arial, sans-serif;

  color: #ffffff;
}

.sidebar-container.open {
  left: 0px;
}
.sidebar-container.close {
  left: calc(-1 * var(--sidebar-width));
}

.sidebar-header {
  width: inherit;
  height: 8vh;
  background-color: #37a898;

  & Text {
    font-family: Poppins, Rubik, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    // font-size: 1.25rem;
    line-height: 1.1875em;
  }

  & svg {
    display: none;
  }
}

.sidebar-avatar {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-areas:
    "avatarImg avatarName"
    "avatarImg avatarRole";
  column-gap: 0.5rem;
  padding: 2vh 1.2vw;
  align-items: center;

  & .sidebar-avatar_image {
    grid-area: avatarImg;
  }

  & h4 {
    grid-area: avatarName;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.3125em;
  }

  & h6 {
    grid-area: avatarRole;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75em;
    line-height: 16px;
  }
}

.sidebar-menu {
  & .sidebar-nav_header {
    padding: 1.5vh 1.5vw;
    background-color: #141c31;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  & .main-navigation {
    & a {
      // font-weight: 600;
      background: var(--Mxm-navy);
      // font-size: 1rem;
      list-style-type: none;

      padding: 2vh 1.3vw;

      display: flex;
      align-items: center;

      & svg {
        margin-right: 10px;
      }

      &:hover {
        background: #1c2846;
        cursor: pointer;
      }

      &.sidebar-nav_active {
        box-shadow: inset 4px 0 0 0 rgb(115, 188, 255);
        background: #1c2846;
      }
    }
  }
}

.sidebar-menu .dropdown {
  background: var(--Mxm-navy);
  font-size: 1rem;
  list-style-type: none;

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  & .dropdown-header {
    padding: 2vh 1.3vw;
    width: 100%;

    &.sidebar-nav_active {
      box-shadow: inset 4px 0 0 0 rgb(115, 188, 255);
      background: #1c2846;

      & svg:last-child {
        transform: rotate(-90deg);
      }
    }
  }

  & svg {
    margin-right: 10px;
  }

  & svg:last-child {
    margin-left: auto;
    margin-right: 0;
    transition: transform 0.15s linear;
  }

  &:hover {
    background: #1c2846;
    cursor: pointer;
  }

  & .dropdown-items {
    justify-content: center;
    max-height: 0px;
    overflow-y: hidden;

    list-style: none;
    display: flex;
    flex-direction: column;

    transition: max-height 0.2s ease;

    & a {
      // font-size: 0.9em;
      color: #adadad;
      padding: 1.4vw 1.5vh;
      min-width: var(--sidebar-width);

      & svg {
        margin-right: 1.8vw;
        margin-left: unset;
      }
    }

    & .dropdown-item_active {
      color: #ffffff;
    }

    &.dropdown-items_open {
      max-height: max-content;
    }
  }
}

@media screen and (max-width: 43.4375em) {
  //695px
  .navbar-avatar {
    & h4 {
      display: none;
    }
    & .navbar-avatar-image {
      display: none;
    }
  }

  @media screen and (max-width: 34.375em) {
    //550px
    .navbar-logout-btn p {
      display: none;
    }
  }
}

@media screen and (max-width: 28.125em) {
  //450px
  .sidebar-header {
    padding: 0 5vw;

    & svg {
      display: block;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .sidebar-container {
    width: 100vw;

    & .sidebar-avatar {
      padding: 2vh 5vw;
    }

    &.close {
      left: -700px;
    }
  }

  .sidebar-menu .sidebar-nav_header {
    padding: 1.5vh 6vw;
  }

  .sidebar-menu .main-navigation {
    & a {
      padding: 2vh 5vw;
    }
  }

  .sidebar-menu .dropdown {
    & .dropdown-header {
      padding: 2vh 5vw;
    }

    & .dropdown-items {
      & a {
        padding: 1.4vh 6vw;
        width: 100vw;

        & svg {
          margin-right: 6vw;
        }
      }
    }
  }
}
