.footer {
  width: calc(100vw - 18em);
  height: 40px;
  background-color: var(--Mxm-navy);

  position: absolute;
  bottom: 0;

  margin-left: 18em;

  color: #ffffff;
  & h4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
  }

  & .footer-flexbox {
    height: 100%;
    justify-content: center;
    align-items: center;

    & svg {
      color: #ff0000;
    }
  }
}
