:root {
  --home-zep-bg-size: 400px;
  --home-zep-text-p-fontsize: 1.1rem;
  --home-zep-text-h1-fontsize: 4rem;
  --home-zep-text-h2-fontsize: 2rem;
  --home-zep-text-btn-fontsize: 0.8rem;
  --zep-translate-value: 30%;
}

.home-zep-outer-container p,
.home-zep-outer-container button {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.home-zep-outer-container h1,
.home-zep-outer-container h2 {
  font-family: Rubik, Arial, Helvetica, sans-serif;
}

.home-zep-outer-container {
  width: 100%;
  align-items: center;
  justify-content: center;

  & > .home-zep-inner-container {
    border-radius: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

.home-zep-inner-container {
  & img {
    margin-top: 5vh;
    width: 300px;
    margin-bottom: 5vh;
  }

  @media screen and (max-height: 850px) {
    & img {
      width: 250px;
    }
  }
}

.home-zep-header {
  flex-direction: row;

  & h1 {
    font-size: var(--home-zep-text-h1-fontsize);
    font-weight: 600;
    text-align: center;
    width: var(--home-zep-bg-size);
  }
}
@media screen and(max-height: 750px) {
  .home-zep-inner-container {
    & img {
      margin-top: 1rem;
      width: 225px;
    }
  }

  * {
    --home-zep-text-h1-fontsize: 3rem;
    --home-zep-text-p-fontsize: 1rem;
  }

  .nav-btn-zep {
    margin-top: 1.2vh !important;
  }
}

.home-zep-inner-container p:only-child {
  text-align: center;
  font-size: var(--home-zep-text-p-fontsize);

  width: 70ch;
}

.home-zep-content-flex {
  margin-top: 3rem;

  justify-content: space-between;
  align-items: center;

  & button {
    margin: 0 1rem;
  }
}

.home-zep-regulasi-btn button,
.home-zep-bukti-btn button {
  display: grid;

  column-gap: 15px;
  grid-template-areas:
    "svg mainText"
    "svg type";
  color: white;

  width: 210px;

  background: linear-gradient(270deg, #74c8b9 0%, #164273 100%);
  background-size: 250% 200%;
  background-position: 10% 150%;
  border-radius: 15px;
  padding: 0.3rem;

  transition: background-position 0.3s ease;

  align-items: center;
  justify-content: center;

  font-size: var(--home-zep-text-btn-fontsize);

  & svg {
    grid-area: svg;
  }

  & p {
    grid-area: mainText;
  }

  & span {
    grid-area: type;
  }

  &:hover {
    background-position: 30% 200%;
  }
}

.home-zep-regulasi-btn button:hover,
.home-zep-bukti-btn button:hover {
  background-color: rgb(41, 53, 83);
}

.nav-btn-zep {
  justify-content: space-between;
  width: calc(80vw - 60px);
  margin-top: 3rem;
  @media screen and (max-width: 1042px) {
    width: calc(100vw - 60px);
    margin-top: unset;
  }
}

.home-zep-next-btn {
  font-size: var(--home-zep-text-btn-fontsize);
  padding: 0.5rem 1.5rem !important;
  display: flex;
  align-items: center;
  margin-top: 2rem !important;
  margin-bottom: 0 !important;
}

.home-zep-back-btn {
  font-size: var(--home-zep-text-btn-fontsize);
  padding: 0.5rem 1.5rem !important;
  display: flex;
  align-items: center;
  margin-top: 2rem !important;
  margin-bottom: 0 !important;
}

@media screen and(max-width: 1180px) {
  * {
    --home-zep-text-p-fontsize: 1rem;
  }
}

@media screen and(max-width: 1030px) {
  .home-zep-inner-container p:only-child {
    font-size: var(--home-zep-text-p-fontsize);

    width: 60ch;
  }
}

@media screen and(max-width: 896px) {
  * {
    --home-zep-bg-size: 350px;
    --home-zep-text-p-fontsize: 0.875rem;
    --home-zep-text-h1-fontsize: 3rem;
    --home-zep-text-h2-fontsize: 1.5rem;
    --home-zep-text-btn-fontsize: 0.875rem;
  }
  .home-zep-inner-container p:only-child {
    width: 50ch;
  }

  .home-zep-desc {
    margin-top: 0.5rem;
  }

  .home-zep-content-flex {
    margin-top: 2.5rem;
  }
}

@media screen and(max-width: 620px) {
  * {
    --home-zep-bg-size: 300px;
    --home-zep-text-p-fontsize: 0.875rem;
    --home-zep-text-h1-fontsize: 2.5rem;
    --home-zep-text-h2-fontsize: 1.2rem;
    --home-zep-text-btn-fontsize: 0.875rem;
    --zep-translate-value: 20%;
  }

  .home-zep-content-flex {
    flex-direction: column;
    justify-content: center;

    margin: 2rem 0 1rem 0;

    & button {
      margin: 0.8rem 0;
    }
  }

  .home-zep-inner-container p:only-child {
    width: 50ch;
  }
}

@media screen and(max-width: 590px) {
  * {
    --home-zep-bg-size: 250px;
    --home-zep-text-p-fontsize: 0.75rem;
    --home-zep-text-h1-fontsize: 2rem;
    --home-zep-text-h2-fontsize: 1rem;
    --home-zep-text-btn-fontsize: 0.75rem;
    --zep-translate-value: 15%;
  }

  .home-zep-header {
    top: -0.5rem;
    & > h1 {
      align-items: flex-start;
      position: relative;
      top: 20px;
    }
  }

  .home-zep-inner-container p:only-child {
    width: 40ch;
  }

  .home-zep-outer-container {
    & > .home-zep-inner-container {
      width: 100%;
      padding: unset;
    }
  }
}

@media screen and(max-width: 390px) {
  * {
    --zep-translate-value: 8%;
  }
  .home-zep-inner-container p:only-child {
    width: 35ch;
  }
}
@keyframes zeppelin_animation {
  0% {
    transform: translateX(var(--zep-translate-value)) scaleX(1);
  }
  49% {
    transform: translateX(calc(-1 * var(--zep-translate-value)));
  }
  50% {
    transform: translateX(calc(-1 * var(--zep-translate-value))) scaleX(-1);
  }

  100% {
    transform: translateX(var(--zep-translate-value)) scaleX(-1);
  }
}

.zep-illustration {
  animation: zeppelin_animation 6s infinite;
}

.zep-default {
  transform: translateX(var(--zep-translate-value));
}
