@media screen and (min-width: 820px) {
  .home-cvr-outer_container {
  }
}

.home-cvr-middle_container {
  width: 100%;
  margin: 0 auto;

  align-items: center;
}

.home-cvr-header {
  display: flex;
  margin: 2rem 0 1rem 0;
  width: 50vw;
  & h1 {
    font-size: 1.7rem;
    font-family: Rubik, Arial, sans-serif;
    font-weight: 700;
    text-align: center;
  }
}

.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
