.title {
  font-family: "Rubik";
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  color: #164273;
}

.subtitle {
  font-family: "Rubik";
  font-size: 0.6rem;
  font-weight: 400;
  background-color: #164273;
  color: white;
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  letter-spacing: 0.04rem;
  width: max-content;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-top: 20px;
}

.flex-container > div {
  width: 100%;
  margin: 10px 0;
}

.box {
  background-color: gray;
}

.iframe-radius {
  border-radius: 5px;
}

.img-container {
  border-radius: 5px;
}

.desc-detail {
  font-family: "Poppins";
  font-weight: 500;
  text-align: justify;
  font-size: 0.7rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.detail-content {
  width: 100%;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
  padding: 20px;
  text-align: center;
}

.btn-div {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.btn-detail {
  margin: 0 !important;
  font-size: 0.8rem !important;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .title {
    font-size: 1.8rem;
  }

  .subtitle {
    font-size: 0.7rem;
  }

  .flex-container {
    flex-direction: row;
  }

  .flex-container > div {
    margin: 30px;
  }

  .desc-detail {
    padding: 0 30px;
  }

  .btn-div {
    padding: 30px 30px 0 30px;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .title {
    font-size: 2.4rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .desc-detail {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 1440px) {
  /* For desktop L: */
  .title {
    font-size: 3.2rem;
  }

  .subtitle {
    font-size: 1.3rem;
  }

  .flex-container > div {
    margin: 50px;
  }

  .desc-detail {
    padding: 0 50px;
    font-size: 1rem;
  }

  .detail-content {
    padding: 20px 100px;
  }

  .btn-div {
    padding: 50px 50px 0 50px;
  }

  .btn-detail {
    font-size: 0.9rem !important;
  }
}
