:root {
  --hero-h1-font-size: 4rem;
  --hero-h3-font-size: 1rem;
  --timeline-h1-font-size: 3rem;
  --timeline-h3-font-size: 1rem;
  --faq-h1-font-size: 3.25rem;
  --faq-h3-font-size: 1.3rem;
}

h1,
h2 {
  font-family: Rubik, Arial, Helvetica, sans-serif;
}

h3,
button,
h6 {
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

::-moz-selection {
  background-image: white;
  -webkit-text-fill-color: white;
  text-fill-color: white;
  -moz-text-fill-color: white;
  color: white;
  background: #74c8b9;
}

::selection {
  background-image: white;
  -webkit-text-fill-color: white;
  text-fill-color: white;
  -moz-text-fill-color: white;
  color: white;
  background: #74c8b9;
}

.Tilt-inner {
  transform: translateZ(100px);
  font-size: 100px;
}

.Tilt {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  box-shadow: 0 20px 27px rgba(0, 0, 0, 0.05);
  transform-style: preserve-3d;
}

.btn-linear-gradient {
  background: linear-gradient(90deg, #edd500 0%, #e40000 100%);
}

.hero-container {
  flex-direction: row;
  padding: 10rem 0 12rem 0;
  & iframe {
    width: 650px;
    height: 350.41px;
  }

  @media screen and (max-width: 1486px) {
    & .hero-side-container-item {
      width: 65ch;
    }
  }

  @media screen and (max-width: 1350px) {
    & iframe {
      width: 500px;
      height: 269.55px;
    }
  }

  @media screen and (max-width: 1208px) {
    * {
      --hero-h1-font-size: 3.5rem;
      --hero-h3-font-size: 0.8rem;
    }

    & .hero-side-container-item {
      width: 60ch;
      margin-left: 85px;
    }
  }

  @media screen and (max-width: 1108px) {
    & .hero-side-container-item {
      width: 55ch;
      margin-left: 70px;
    }
  }

  @media screen and (max-width: 1024px) {
    & iframe {
      width: 450px;
      height: 242.59px;
    }
  }

  @media screen and (max-width: 1000px) {
    * {
      --hero-h1-font-size: 4rem;
    }
    & {
      flex-direction: column;
      align-items: center;

      padding-top: 4rem;
    }

    & .hero-side-container {
      width: 100%;

      & .hero-side-container-item {
        width: inherit;
        margin: unset;
        align-items: center;
        text-align: center;

        & button {
          margin-bottom: 2rem;
        }
      }
    }
  }

  @media screen and (max-width: 446px) {
    padding: 3vh 0 8rem 0;

    * {
      --hero-h1-font-size: 3rem;
    }

    & .hero-side-container-item {
      & > h3 {
        width: 40ch;
      }
    }

    & iframe {
      width: 350px;
      height: 188.68px;
    }
  }

  @media screen and (max-width: 350px) {
    & iframe {
      width: 300px;
      height: 161.73px;
    }
  }
}

.hero-side-container {
  width: 50%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 71, 139, 0.12) 0%,
    rgba(196, 196, 196, 0) 100%
  );
  justify-content: flex-end;
}

.hero-side-container-item {
  width: 70ch;

  & > h1 {
    font-size: var(--hero-h1-font-size);
    background-color: linear-gradient(180deg, #edd500 0%, #e40000 100%);
    background-image: linear-gradient(180deg, #edd500 0%, #e40000 100%);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    line-height: 80px;
    letter-spacing: 0.01em;

    &:not(strong) {
      font-weight: 500;
    }
  }

  & > h3 {
    color: rgba(57, 0, 0, 1);
    font-weight: 500;
    font-size: var(--hero-h3-font-size);
    // line-height: 150%;
    width: 50ch;

    margin-top: 1.5rem;
  }

  & > button {
    margin-top: 2rem;
    padding: 0.4rem 1.4rem;
    width: max-content;

    border-radius: 99px;
    font-weight: 500;
    font-size: 1rem;
    color: white;

    background-size: 150% 250%;
    background-position: 50% 100%;

    transition: all 0.3s ease;

    &:hover {
      background-position: 100% 150%;
      box-shadow: 0 10px 4px -8px rgba(0, 0, 0, 0.25);
    }
  }
}

//timeline
.timeline-outer-container {
  background: linear-gradient(
    180deg,
    rgba(65, 206, 186, 0.15) 0%,
    rgba(212, 226, 255, 0) 100%
  );
  height: max-content;
  width: 100%;
  margin-bottom: 10rem;

  @media screen and (max-width: 920px) {
    margin-bottom: 8rem;
  }

  @media screen and (max-width: 600px) {
    margin-bottom: 4rem;
  }
}

.timeline-inner-container {
  flex-direction: column;
  margin: 0 auto;
  align-items: center;

  & > h1 {
    font-size: var(--timeline-h1-font-size);
    background-image: linear-gradient(
      180deg,
      rgba(5, 66, 57, 0) 0%,
      #41ceba 0.01%
    );
    background-color: linear-gradient(
      180deg,
      rgba(5, 66, 57, 0) 0%,
      #41ceba 0.01%
    );
    font-weight: bold;
    text-align: center;

    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;

    width: 10ch;
    line-height: 130%;
    padding-top: 3rem;
  }

  & h3 {
    padding-top: 0.625rem;
    color: rgba(1, 33, 43, 1);

    text-align: center;
    margin-bottom: 2rem;

    @media screen and (max-width: 630px) {
      width: 95%;
    }
  }
}

.timeline-content-container {
  width: 100vw;
}

.timeline-content-item {
  margin: 0 auto;
  width: 85%;
  padding: 2rem;
  justify-content: space-evenly;
  @media screen and (max-width: 1600px) {
    & {
      width: 95%;
    }
  }

  @media screen and (max-width: 1100px) {
    padding: 0.5rem;
  }

  @media screen and (max-width: 1500px) {
    & {
      width: 100%;
    }
  }

  @media screen and (max-width: 1300px) {
    & {
      justify-content: space-between;
    }
  }

  @media screen and (max-width: 920px) {
    flex-direction: column;
    align-items: center;
  }
}

.card-timeline {
  width: 362px;
  height: 485px;
  position: relative;

  flex-direction: row;
  justify-content: center;
  box-shadow: 0px 10px 20px -5px rgba(255, 214, 40, 0.5);
  border-radius: 10px;

  & img {
    border-radius: 10px;
    object-fit: cover;
    object-position: 90% 50%;
  }

  & .blur-background-container {
    position: absolute;
    width: 80%;
    height: 115px;

    align-items: center;
    bottom: 5%;

    border-radius: 20px;

    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);

    padding: 0.7rem;

    & > h4 {
      color: rgba(255, 214, 40, 1);
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 130%;
    }

    & > h6:first-of-type {
      text-transform: uppercase;
      font-size: 0.8rem;
      color: rgb(41, 35, 7);
      letter-spacing: 0.1rem;
      margin-bottom: 1rem;
    }

    & > h6 {
      font-size: 0.9rem;
      letter-spacing: 0.03rem;
      color: white;
    }
  }

  &#timeline-card-1 {
    box-shadow: 0px 10px 20px -5px rgba(31, 44, 76, 0.5);

    & img {
      object-position: 60% 100%;
    }

    & .blur-background-container {
      & > h4 {
        color: rgba(31, 44, 76, 1);
      }

      & > h6:first-of-type {
        color: rgba(8, 22, 57, 1);
      }
    }
  }

  &#timeline-card-2 {
    & img {
      object-position: 25% 100%;
    }

    box-shadow: 0px 10px 20px -5px rgba(255, 71, 139, 0.5);
    & .blur-background-container {
      & > h4 {
        color: rgba(255, 71, 139, 1);
      }
    }
  }

  @media screen and (max-width: 1200px) {
    margin: 0 1.5rem;

    & .blur-background-container {
      width: 90%;

      & > h6:first-of-type {
        font-size: 0.7rem;
      }
    }
  }

  @media screen and (max-width: 1130px) {
    margin: 0 1rem;

    & .blur-background-container {
      width: 90%;

      & > h6:first-of-type {
        font-size: 0.65rem;
      }

      & > h6 {
        font-size: 0.8rem;
      }
    }
  }

  @media screen and (max-width: 920px) {
    margin: 2rem 0;
  }

  @media screen and (max-width: 380px) {
    width: 100%;
  }
}

@media screen and (max-width: 340px) {
  * {
    --timeline-h1-font-size: 2.7rem;
  }
}

//faq section
.faq-outer-container {
  width: 100vw;
  justify-content: center;
}

.faq-inner-container {
  width: 70%;
  background: linear-gradient(
    79.43deg,
    rgba(255, 0, 94, 0.39) 36.1%,
    rgba(255, 0, 94, 0.0741) 100%
  );
  border-radius: 20px;
  padding: 5rem 0;

  & .faq-illustration {
    width: 40%;
    justify-content: center;
    align-items: center;
    & > .faq-illustration-item {
    }
  }

  @media screen and (max-width: 1545px) {
    & {
      width: 80%;
    }
  }

  @media screen and (max-width: 1385px) {
    & {
      width: 90%;
    }
  }

  @media screen and (max-width: 960px) {
    & {
      flex-direction: column;
      align-items: center;
    }
  }

  @media screen and (max-width: 450px) {
    & {
      width: 95%;
    }
  }
}

.faq-side-container {
  width: 60%;
  & .faq-side-item {
    flex-direction: column;
    height: max-content;
    padding: 2.5rem 0;
    width: 90%;

    & > h1 {
      color: rgba(255, 71, 139, 1);
      font-weight: 700;
      font-size: var(--faq-h1-font-size);
      margin-bottom: 1.4rem;
    }

    & > h3 {
      color: rgba(39, 22, 64, 1);
      font-size: var(--faq-h3-font-size);
      font-weight: 500;

      margin-bottom: 3rem;
    }

    & > button {
      width: max-content;
      padding: 0.7rem 1.5rem;
      border-radius: 99px;
      color: white;
      font-weight: 500;
      font-size: 1rem;
      transition: all 0.3s ease;

      background-size: 150% 250%;
      background-position: 50% 100%;

      &:hover {
        background-position: 100% 150%;
        box-shadow: 0 10px 4px -8px rgba(0, 0, 0, 0.25);
      }
    }

    @media screen and (max-width: 1200px) {
      & {
        width: 95%;
      }
    }

    @media screen and (max-width: 436px) {
      & {
        width: 100%;
      }
      & .faq-side-item {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 960px) {
    width: 80%;
    justify-content: center;
  }

  @media screen and (max-width: 520px) {
    width: 95%;
    justify-content: center;
  }
}

@media screen and (max-width: 1200px) {
  * {
    --faq-h1-font-size: 3rem;
    --faq-h3-font-size: 1.15rem;
  }
}

@media screen and (max-width: 520px) {
  * {
    --faq-h1-font-size: 2.5rem;
    --faq-h3-font-size: 1.15rem;
  }
}
