:root {
  --hero-h1-font-size: 4rem;
  --hero-h3-font-size: 1rem;
  --timeline-h1-font-size: 3rem;
  --timeline-h3-font-size: 1rem;
  --faq-h1-font-size: 3.25rem;
  --faq-h3-font-size: 1.3rem;
  --spsr-h2-font-size: 2rem;
}

.homepage h1,
.homepage h2,
.homepage h4 {
  font-family: Rubik, Arial, Helvetica, sans-serif;
}

.homepage h3,
.homepage button,
.homepage h6 {
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.homepage *::-moz-selection {
  background-image: white;
  -webkit-text-fill-color: white;
  text-fill-color: white;
  -moz-text-fill-color: white;
  color: white;
  background: #74c8b9;
}

.homepage *::selection {
  background-image: white;
  -webkit-text-fill-color: white;
  text-fill-color: white;
  -moz-text-fill-color: white;
  color: white;
  background: #74c8b9;
}

.Tilt-inner {
  transform: translateZ(100px);
  font-size: 100px;
}

.Tilt {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  box-shadow: 0 20px 27px rgba(0, 0, 0, 0.05);
  transform-style: preserve-3d;
}

.btn-linear-gradient {
  background: linear-gradient(90deg, #edd500 0%, #e40000 100%);
}

.hero-container {
  flex-direction: row;
  padding-left: 0;
  padding-right: 0;
  height: calc(100vh - 5rem);
  align-items: center;
  & .Tilt,
  & iframe {
    border-radius: 20px;
  }
  & iframe {
    width: 650px;
    height: 350.41px;
  }

  @media screen and (max-width: 1600px) {
    & iframe {
      width: 550px;
      height: 296.5px;
    }
  }

  @media screen and (max-width: 1486px) {
    & .hero-side-container-item {
      width: 65ch;
    }
  }

  @media screen and (max-width: 1350px) {
    & iframe {
      width: 550px;
      height: 296.5px;
    }
  }

  @media screen and (max-width: 1230px) {
    & iframe {
      width: 550px;
      height: 296.5px;
    }
  }

  @media screen and (max-width: 1210px) {
    & iframe {
      width: 500px;
      height: 269.55px;
    }
  }

  @media screen and (max-width: 1208px) {
    * {
      --hero-h1-font-size: 3.5rem;
      --hero-h3-font-size: 0.8rem;
    }

    & .hero-side-container-item {
      width: 60ch;
      margin-left: 85px;
    }
  }

  @media screen and (max-width: 1108px) {
    & .hero-side-container-item {
      width: 55ch;
      margin-left: 70px;
    }
  }

  @media screen and (max-width: 1024px) {
    & iframe {
      width: 450px;
      height: 242.59px;
    }
  }

  @media screen and (max-width: 1000px) {
    * {
      --hero-h1-font-size: 4rem;
    }
    & {
      flex-direction: column;
      align-items: center;

      padding-top: 4rem;
    }

    & .hero-side-container {
      width: 100%;

      & .hero-side-container-item {
        width: inherit;
        margin: unset;
        align-items: center;
        text-align: center;

        & button {
          margin-bottom: 2rem;
        }
        & h3 {
          margin-right: auto;
          margin-left: auto;
        }
      }
    }
  }

  @media screen and (max-width: 446px) {
    padding: 2rem 0 8rem 0;
    height: unset;

    * {
      --hero-h1-font-size: 3rem;
    }

    & .hero-side-container-item {
      & h3 {
        width: 85%;
      }
    }

    & iframe {
      width: 350px;
      height: 188.68px;
    }
  }

  @media screen and (max-width: 350px) {
    * {
      --hero-h1-font-size: 2.5rem;
    }
    & iframe {
      width: 300px;
      height: 161.73px;
    }
  }
}

.hero-container-vid {
  position: relative;
  left: -10px;

  @media screen and(max-width: 1000px) {
    left: 0px;
  }
}

.hero-side-container {
  width: 48.5%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 71, 139, 0.12) 0%,
    rgba(196, 196, 196, 0) 100%
  );
  justify-content: flex-end;
}

.hero-side-container-text {
  & > h1 {
    font-size: var(--hero-h1-font-size);
    background-color: linear-gradient(180deg, #edd500 0%, #e40000 100%);
    background-image: linear-gradient(180deg, #edd500 0%, #e40000 100%);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    line-height: 75px;
    letter-spacing: 0.01em;

    &:not(strong) {
      font-weight: 500;
    }

    @media screen and (max-width: 446px) {
      line-height: 60px;
    }
  }

  & > h3 {
    color: rgba(57, 0, 0, 1);
    font-weight: 500;
    font-size: var(--hero-h3-font-size);
    width: 50ch;

    margin-top: 2rem;

    @media screen and(max-width: 400px) {
      width: unset;
      margin-left: 2rem auto;
    }
  }
}

.hero-side-container-item {
  width: 70ch;

  & > button {
    margin-top: 3rem;
    padding: 0.4rem 1.4rem;
    width: max-content;

    border-radius: 99px;
    font-weight: 500;
    font-size: 1rem;
    color: white;

    background-size: 150% 250%;
    background-position: 50% 100%;

    box-shadow: 0 5px 4px -8px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;

    &:hover {
      background-position: 100% 250%;
      box-shadow: 0 10px 4px -8px rgba(0, 0, 0, 0.25);
    }
  }
}

.timeline-outer-container {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 94, 0.117) 12.9%,
    rgba(255, 0, 94, 0) 70.07%
  );
  height: max-content;
  width: 100%;
  margin-bottom: 10rem;

  @media screen and (max-width: 920px) {
    margin-bottom: 8rem;
  }

  @media screen and (max-width: 600px) {
    margin-bottom: 4rem;
  }
}

.timeline-inner-container {
  flex-direction: column;
  margin: 0 auto;
  align-items: center;

  & > h1 {
    font-size: var(--timeline-h1-font-size);
    color: #c5034a;
    font-weight: bold;
    text-align: center;

    width: 10ch;
    line-height: 130%;
    padding-top: 3rem;
  }

  & h3 {
    padding-top: 0.625rem;
    color: rgba(39, 22, 64, 1);

    text-align: center;
    margin-bottom: 2rem;

    @media screen and (max-width: 700px) {
      width: 70%;
    }

    @media screen and (max-width: 500px) {
      width: 90%;
    }

    @media screen and (max-width: 400px) {
      width: 95%;
    }
  }
}

.timeline-content-container {
  width: calc(100vw - 8px);
}

.timeline-content-item {
  margin: 0 auto;
  width: 80%;
  padding: 2rem;
  justify-content: space-evenly;
  @media screen and (max-width: 1600px) {
    & {
      width: 95%;
    }
  }

  @media screen and (max-width: 1100px) {
    padding: 0.5rem;
  }

  @media screen and (max-width: 1500px) {
    & {
      width: 100%;
    }
  }

  @media screen and (max-width: 1300px) {
    & {
      justify-content: space-between;
    }
  }

  @media screen and (max-width: 920px) {
    flex-direction: column;
    align-items: center;
  }
}

.card-timeline {
  width: 362px;
  height: 485px;
  position: relative;
  overflow: hidden;

  flex-direction: row;
  justify-content: center;
  box-shadow: 0px 10px 6px -5px rgba(255, 214, 40, 0.65);
  border-radius: 10px;

  & img {
    border-radius: 10px;
    object-fit: scale-down;
    object-position: 0% 0%;
    transition: all 0.3s ease-out;
    transform: scale(1.01);

    @media screen and (max-width: 400px) {
      object-fit: cover;
      object-position: center;
    }
    &:hover {
      box-shadow: 0px 12px 15px -3px rgba(255, 214, 40, 0.3);
      transform: scale(1.06) rotate(2deg);
    }
  }

  & .blur-background-container {
    position: absolute;
    width: 100%;
    height: 132px;
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0px 12px 15px -3px rgba(255, 214, 40, 0.3);
    }

    bottom: 0px;

    border-radius: 2px 2px 6px 6px;

    flex-direction: column;
    background: #ffd628;

    padding: 16px 18px;

    & > h4 {
      color: rgba(31, 44, 76, 1);
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 130%;
      letter-spacing: 0.03em;
    }

    & > h6:first-of-type {
      text-transform: uppercase;
      font-style: italic;
      font-weight: 500;
      font-size: 0.7rem;
      color: rgba(31, 44, 76, 1);
      letter-spacing: 0.1rem;
      margin-bottom: 1rem;
    }

    & > h6 {
      color: rgba(31, 44, 76, 1);
      font-size: 0.9rem;
      letter-spacing: 0.03rem;
    }

    & > h6:last-child {
      text-align: right;
      margin-top: auto;
      font-size: 0.8rem;
    }
  }

  &#timeline-card-1 {
    box-shadow: 0px 10px 6px -5px rgba(31, 44, 76, 0.5);

    & img {
      &:hover {
        box-shadow: 0px 12px 15px -3px rgba(31, 44, 76, 0.3);
      }
    }

    & .blur-background-container {
      background: #1f2c4c;
      &:hover {
        box-shadow: 0px 12px 15px -3px rgba(31, 44, 76, 0.3);
      }
      & > h4 {
        color: #ffd008;
      }

      & > h6 {
        color: #ffd008;
      }
    }
  }

  &#timeline-card-2 {
    box-shadow: 0px 10px 6px -5px rgba(255, 71, 139, 0.5);
    & img {
      &:hover {
        box-shadow: 0px 12px 15px -3px rgba(255, 71, 139, 0.3);
      }
    }

    & .blur-background-container {
      background: #ff478b;
      &:hover {
        box-shadow: 0px 12px 15px -3px rgba(255, 71, 139, 0.3);
      }
      & > h4 {
        color: #242021;
        letter-spacing: 0em;
      }

      & > h6 {
        color: #242021;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    margin: 0 1.5rem;

    & .blur-background-container {
      & > h6:first-of-type {
        font-size: 0.7rem;
      }
    }
  }

  @media screen and (max-width: 1130px) {
    margin: 0 1rem;

    & .blur-background-container {
      & > h6:first-of-type {
        font-size: 0.65rem;
      }

      & > h6 {
        font-size: 0.8rem;
      }
    }
  }

  @media screen and (max-width: 920px) {
    margin: 2rem 0;
  }

  @media screen and (max-width: 380px) {
    width: 100%;
  }
}

@media screen and (max-width: 340px) {
  * {
    --timeline-h1-font-size: 2.7rem;
  }
}

.faq-outer-container {
  width: calc(100vw - 8px);
  justify-content: center;
  padding-bottom: 10rem;

  @media screen and (max-width: 450px) {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.faq-inner-container {
  width: 67%;
  background: linear-gradient(
    259.27deg,
    rgba(65, 206, 186, 0.1) 0%,
    rgba(65, 206, 186, 0.25) 52.19%
  );
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 5rem 0;

  & .faq-illustration {
    width: 50%;
    justify-content: center;
    align-items: center;

    & .faq-illustration-item {
      display: flex;
      justify-content: center;
    }
  }

  @media screen and (max-width: 1600px) {
    & {
      width: 80%;
    }
  }

  @media screen and (max-width: 1500px) {
    & {
      width: 85%;
    }
  }

  @media screen and (max-width: 1385px) {
    & {
      width: 90%;
    }
  }

  @media screen and (max-width: 1300px) {
    & {
      width: 95%;
    }
  }

  @media screen and (max-width: 960px) {
    & {
      flex-direction: column;
      align-items: center;
    }

    & .faq-illustration {
      width: 60%;
    }
  }

  @media screen and (max-width: 850px) {
    & .faq-illustration {
      width: 70%;
    }
  }

  @media screen and (max-width: 600px) {
    & .faq-illustration {
      width: 80%;
    }

    & {
      padding: 2rem 0;
    }
  }

  @media screen and (max-width: 450px) {
    & {
      width: 100%;
    }

    & .faq-illustration {
      width: 90%;
    }
  }
}

.faq-side-container {
  width: 50%;
  & .faq-side-item {
    flex-direction: column;
    height: max-content;
    padding: 2.5rem 0;
    width: 95%;

    & > h1 {
      color: #247c70;
      font-weight: 700;
      font-size: var(--faq-h1-font-size);
      margin-bottom: 1.4rem;
    }

    & > h3 {
      color: rgba(1, 33, 43, 1);
      font-size: var(--faq-h3-font-size);
      font-weight: 500;

      margin-bottom: 3rem;
    }

    & > button {
      background: linear-gradient(90deg, #12e9b7 0%, #00c7d1 100%);
      width: max-content;
      padding: 0.5rem 1rem;
      border-radius: 99px;
      color: white;
      font-weight: 600;
      font-size: 1rem;
      transition: all 0.3s ease;

      box-shadow: 0 5px 4px -8px rgba(0, 0, 0, 0.3);

      background-size: 150% 250%;
      background-position: 70% 100%;

      &:hover {
        background-position: 100% 150%;
        box-shadow: 0 10px 4px -8px rgba(0, 0, 0, 0.3);
      }

      @media screen and (max-width: 500px) {
        font-size: 0.8rem;
        width: 100%;
      }
    }

    @media screen and (max-width: 1838px) {
      & {
        width: 98%;
      }
    }

    @media screen and (max-width: 1200px) {
      & {
        width: 95%;
      }
    }
    @media screen and (max-width: 520px) {
      & {
        padding: 2rem;
      }
    }
    @media screen and (max-width: 436px) {
      & {
        width: 100%;
      }
      & {
        width: 100%;
        padding: 1rem;
      }
    }
    @media screen and (max-width: 440px) {
      & {
        padding: 1rem;
      }
    }
  }

  @media screen and (max-width: 960px) {
    width: 80%;
    justify-content: center;
  }

  @media screen and (max-width: 520px) {
    width: 95%;
    justify-content: center;
  }
}

@media screen and (max-width: 1200px) {
  * {
    --faq-h1-font-size: 3rem;
    --faq-h3-font-size: 1.15rem;
  }
}

@media screen and (max-width: 520px) {
  * {
    --faq-h1-font-size: 2rem;
    --faq-h3-font-size: 0.8rem;
  }
}

@media screen and (max-width: 400px) {
  * {
    --faq-h1-font-size: 1.7rem;
    --faq-h3-font-size: 0.8rem;
  }
}

.spsr-outer-container {
  padding-top: 2rem;
  padding-bottom: 2.3rem;
  width: 100%;
  background-color: #f3f7ff;
  justify-content: center;
  box-shadow: inset 0px 4px 6px rgba(0, 41, 143, 0.25);
}

.spsr-inner-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .spsr-header {
    margin-bottom: 2rem;
  }

  & h2 {
    font-weight: 500;
    font-size: var(--spsr-h2-font-size);
    letter-spacing: 0.015em;
    text-transform: uppercase;
  }

  @media screen and (max-width: 530px) {
    & .spsr-header {
      margin-bottom: 1rem;
    }
  }
}

.spsr-logo-container {
  & > .spsr-logo {
    padding: 2rem;
  }
  & img {
    width: 350px;
  }

  // & .spsr-logo:first-child img {
  //   width: 325px;
  // }
}

@media screen and (max-width: 785px) {
  .spsr-logo-container {
    & > .spsr-logo {
      padding: 1.2rem;
    }
    & img {
      width: 350px;
    }
  }
}

@media screen and (max-width: 500px) {
  .spsr-logo-container {
    & > .spsr-logo {
      padding: 0.5rem;
    }
    & img {
      width: 350px;
    }
  }
}

@media screen and (max-width: 650px) {
  * {
    --spsr-h2-font-size: 1.5rem;
  }
}

@media screen and (max-width: 450px) {
  * {
    --spsr-h2-font-size: 1.2rem;
  }
}
