:root {
  --footer-height: 4rem;
  --footer-bottom: 1.5rem;
  --arrow-margin: 4rem;
  --image-size: 200px;
  --translate-anim: -2rem;
}

footer {
  margin-bottom: var(--footer-bottom);
  width: 100vw;
  height: var(--footer-height);
}

.chapter {
  width: var(--image-size);
  //   transition: all 1s ease-in-out;
  &:hover {
    // transform: translateY(-2rem);
    animation: popup 2s infinite ease-in-out;
    cursor: pointer;
  }
}

@keyframes popup {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(var(--translate-anim));
  }
  100% {
    transform: translateY(0);
  }
}

.arrow-btn {
  height: 100%;
  margin-left: var(--arrow-margin);
  &:hover {
    cursor: pointer;
  }
}

.main-content {
  width: 100vw;
  height: calc(100vh - (var(--footer-bottom) + var(--footer-height)));
}

@media screen and (max-width: 1020px) {
  :root {
    --image-size: 160px;
    --translate-anim: -1.5rem;
  }
}

@media screen and (max-width: 830px) and (max-height: 823px) {
  :root {
    --image-size: 130px;
    --footer-height: 2rem;
    --footer-bottom: 0.5rem;
    --arrow-margin: 1rem;
    --translate-anim: -1rem;
  }
}

@media screen and (max-width: 767px) {
  :root {
    --image-size: 120px;
  }
}

@media screen and (max-width: 511px) and (max-height: 640px) {
  :root {
    --image-size: 120px;
    --translate-anim: -0.5rem;
  }
}
