.main-frame {
  background: rgb(116, 200, 185);
  background: linear-gradient(
    180deg,
    rgba(116, 200, 185, 1) 0%,
    rgba(22, 66, 115, 1) 75%
  );
}

.home-finish-btn {
  justify-content: flex-end;
}

@media screen and (max-width: 765px) {
  .home-chapter-finish-btn {
    justify-content: center;
  }
  .home-finish-btn {
    justify-content: center;
  }
}
