html {
  scrollbar-width: thin;
  scrollbar-color: #74c8b9 #1f2c4c;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #172138;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #f43a3a;
    border-radius: 5px;
  }
}
