:root {
  --home-orglist-grid-header-p: 2rem;
  --home-orglist-grid-header-mb: 1rem;
  --home-orglist-text-p-fontsize: 1.1rem;
}

.home-orglist-outer_container p {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.home-orglist-outer_container h3 {
  font-family: Rubik, Arial, Helvetica, sans-serif;
}

.home-orglist-outer_container {
  min-height: 100vh;
}

.home-orglist-inner_container {
  background-color: #fff;
}

.home-orglist-outer_container {
  width: 100%;
  min-height: 100vh;
  align-items: center;

  & > .home-orglist-inner_container {
    width: 95%;
    min-height: 92vh;
    border-radius: 50px;

    flex-direction: column;
    align-items: center;
  }
}

.home-orglist-grid-header {
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-areas:
    "chapLogo chapDesc"
    "divider divider";
  align-items: center;
  column-gap: 5rem;

  height: max-content;
  padding: var(--home-orglist-grid-header-p);

  & > .home-orglist-chap-logo {
    width: max-content;
    grid-area: chapLogo;

    & > img {
      width: 200px;
    }
  }

  & > .home-orglist-divider {
    grid-area: divider;
  }
}

.home-orglist-chap-desc {
  min-height: max-content;

  padding: 1.5rem;
  border-radius: 30px;

  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  column-gap: 1rem;

  grid-area: chapDesc;

  & > .chap-desc-image {
    height: 150px;
    width: 150px;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  & > .chap-desc-text {
    font-size: var(--home-orglist-text-p-fontsize);

    width: 60ch;
  }
}

.home-orglist-content_container {
  width: 60%;

  flex-direction: column;

  & > .home-orglist-content-grid {
    grid-template-columns: max-content 1fr max-content;
    column-gap: 2rem;

    margin: 1rem 0 1.5rem 0;
  }

  & .content-org-logo {
    padding: 1rem;
    border: 8px solid #1f2c4c;
    height: max-content;
    width: max-content;
    border-radius: 20px;

    & > img {
      width: 100px;
    }
  }

  & .content-org-desc {
    height: 100%;
    padding: 1rem;
    border-radius: 20px;

    & > h3 {
      font-size: 2rem;
      font-weight: 600;
      line-height: 42px;
    }

    & > p {
      font-size: var(--home-orglist-text-p-fontsize);
    }
  }

  & .home-orglist-arrow_icon {
    align-self: center;
    & svg {
      font-size: 90px;
    }
  }
}

@media screen and(max-width: 1690px) {
  .home-orglist-content_container {
    width: 65%;
  }

  @media screen and(max-width: 1550px) {
    .home-orglist-content_container {
      width: 70%;
    }
  }
  @media screen and(max-width: 1400px) {
    .home-orglist-content_container {
      width: 80%;
    }
  }
  @media screen and(max-width: 1047px) {
    .home-orglist-content_container {
      width: 85%;
    }
  }

  @media screen and(max-width: 988px) {
    .home-orglist-content_container {
      width: 95%;
    }
  }
}

@media screen and(max-width: 1280px) {
  * {
    --home-orglist-text-p-fontsize: 1rem;
  }
  .home-orglist-chap-desc {
    & > .chap-desc-text {
      width: 50ch;
    }
  }
}

@media screen and(max-width: 1076px) {
  * {
    --home-orglist-text-p-fontsize: 0.875rem;
  }
  .home-orglist-chap-desc {
    & > .chap-desc-text {
      width: 40ch;
    }
  }
}

@media screen and(max-width: 886px) {
  * {
    --home-orglist-text-p-fontsize: 0.75rem;
  }
  .home-orglist-chap-desc {
    & > .chap-desc-text {
      width: 40ch;
    }
  }

  .home-orglist-grid-header {
    grid-template-columns: unset;
    grid-template-rows: max-content auto auto;
    grid-template-areas:
      "chapLogo"
      "chapDesc"
      "divider";

    justify-items: center;
  }

  .home-orglist-divider {
    width: 80vw;
  }

  .home-orglist-chap-desc {
    margin-top: 2rem;

    grid-template-columns: unset;
    grid-template-rows: max-content auto;
    justify-items: center;

    column-gap: unset;
    row-gap: 1rem;
  }

  .home-orglist-content_container {
    & > .home-orglist-content-grid {
      grid-template-columns: unset;
      grid-template-rows: max-content 1fr auto;
      justify-items: center;

      row-gap: 1rem;
    }
  }
}
